{% extends "mainapp/base.html" %}
{% block content %}

<!--My practice database:
	Pub order: 
	1) Kant
		a.Hume, b. Descartes
	2) Hume
		a. Descartes
	3) Descartes
		a. Aristotle
	4) Hume et al. (Impossible book)
		a. Descartes, b. Hume, c. Kant
	5) Singer
		a. Hume et al. (Impossible book)
	6) Aristotle
		none
-->

<!-- 
kant = publications.first()
***kant.citations.all()
		>>><QuerySet [<Publication: Impossible Modern Book - B>]>
		PERSO: Hume et al., Impossible Book
		EXPL: "citations" gives you the authors that cite Kant
		
		VS
***kant.citation.all()
		>>><QuerySet [<Publication: An Enquiry Concerning Human Understanding - B>, <Publication: Discours de la Methode - B>]>
		PERSO: Hume, Descartes
		EXPL: "citation" gives you Kant's own citations
		
		VS
***kant.cited_pubs.all()
		>>><QuerySet [<CitationMetadata: Citer: Impossible Modern Book; Cited: Critique of Pure Reason>]>
		EXPL: "cited_pubs" gives you the sets in which Kant is the CITED
		VS
***kant.citer_pubs.all()
		>>><QuerySet [<CitationMetadata: Citer: Critique of Pure Reason; Cited: An Enquiry Concerning Human Understanding>, <CitationMetadata: Citer: Critique of Pure Reason; Cited: Discours de la Methode>]>
		EXPL: "citer_pubs" gives you the sets in which Kant is the CITER
-->


<!-- Inside for-loop for publication:
	FIRST AUTHOR OF PUB: 
		publication.author.first
	LAST NAME OF FIRST AUTHOR OF PUB: 
		publication.author.first.last_name
	PYB YEAR:
		publication.year
	FIRST CITATION:
		publication.citation.first
	LAST NAME OF FIRST AUTHOR OF FIRST CITATION:
		publication.citation.first.author.first.last_name
	YEAR OF FIRST CITED_PUB:
		publication.citation.first.year
	TITLE OF FIRST CITED_PUB:
		publication.citation.first.title
	DESCRIPTION OF FIRST CITED_PUB:
		publication.cited_pubs.first.description
	COUNT OF AUTHORS IN A PUBLICATION:
		publication.author.all.count 
-->
<!-- 
	{% for publication in publications %}
		<div>
		{{ publication.title }}
	 		{% for citer in publication.cited_pubs.all %}		
			<div id='{{ citer.id }}' class="clickedclass">
				Cite first author's last name
				 {{ citer.citer_pub.author.first.last_name }}
			{% endfor %}
			</div>
			<br>
		</div>
	{% endfor %}
	<div id="i">
		<div class="hideorshow">
		Yo
		</div>
	</div>
 -->

<!-- 
	{% for publication in publications %}
		<div>
		{{ publication.title }}
	 		{% for citer in publication.cited_pubs.all %}		
			<div id='{{ citer.id }}' class="clickedclass">
				 {{ citer.citer_pub.author.first.last_name }}
			{% endfor %}
			</div>
			<br>
		</div>
	{% endfor %}
	{% for publication in publications %}
		{% for citer in publication.cited_pubs.all %}
			<div id='info{{ citer.id }}' class="myabstract">Abstract: {{ citer.cited_pub.abstract }}</div><br>
		{% endfor %}
	{% endfor %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 -->


<!-- myclass = Class.objects.all() 
	 myclass.get(id=8) -->

<!-- <div class="test-flex-main-container">
	main container
	<div class="test-flex-inner-container">
		inner container
		<div class="test-flex-item">
			flex items
		</div>
	</div>
</div>
 -->

<!-- Real code -->
{% for publication in publications %}
<article class="media content-section">
	<div class="media-body">

		<!-- The main grid container starts here -->
		<div class="grid-container">

			<!-- The top part where the user clicks to get all the citations -->
			<div class="top-box"> 
				<div class="logo-top-bottom">{% load static %}
					<!-- Add media like this:  -->
					{% load static %}
					<img src="{% static "../media/site_pics/logos/open-quotes logo.png" %}" alt="Logo" height='20' width='20'>
				</div>
			</div>

			<!-- Box top when open -->
			<div class="top-box-open">
				<p class="open-header">
					<!-- Publication author and year - same procedure as in the main box regarding author count-->
					{{ publication.author.first.last_name }}
					{% if publication.author.all.count == 2 %}
						and {{ publication.author.last.last_name }}
					{% elif publication.author.all.count > 2 %} et al.
					{% endif %}
						({{ publication.year }}) is cited by:
				</p>
				<!-- Creating a flexbox container, which will display all the citations from this publication -->
				<p class='flex-container'>
					<!-- For each citer_pub that cites the cited_pub (i.e. our publication) -->
		 			{% for citer in publication.cited_pubs.all %}		
						<div class="top-nested-citations">
							<!-- Cite first author's last name -->
							 {{ citer.citer_pub.author.first.last_name }}
							 <!-- Then, if there are 2 authors, cite both -->
							 {% if citer.citer_pub.author.all.count == 2 %}
							 	and {{ citer.citer_pub.author.last.last_name }}
							 <!-- Or, if there are more than two authors, add "et al." -->
							 {% elif citer.citer_pub.author.all.count > 2 %}
							 	et al.
							 {% endif %}
							 <!-- Year of publication -->
							 ({{ citer.citer_pub.year }}); 
						</div>
						<div id="{{ citer.id }}" class="citation-description"><br>
							<img class="top-info-image" src="{% static "../media/site_pics/logos/Info logo.png" %}" alt="Details" height='15' width='15'>

							<img src="{% static "../media/site_pics/logos/Abstract logo.png" %}" alt="Abstract" height='15' width='15' class="top-abstract-image">	

							<p>
							{{ citer.description }}
							</p>
						</div>
					{% endfor %}
				</p>	
			</div>
				

			<!-- This is the box that opens on the top left to display the citation info when user clicks on image -->
			<div class="top-left-box-open">
				{% for citer in publication.cited_pubs.all %}
					<p id="topLeftAuthor{{ citer.id }}" class="top-left-author open-header">
						<!-- Publication author and year - same procedure as in the main box regarding author count-->
						Details for {{ citer.citer_pub.author.first.last_name }}
						 <!-- Then, if there are 2 authors, cite both -->
						 {% if citer.citer_pub.author.all.count == 2 %}
						 	and {{ citer.citer_pub.author.last.last_name }}
						 <!-- Or, if there are more than two authors, add "et al." -->
						 {% elif citer.citer_pub.author.all.count > 2 %}
						 	et al.
						 {% endif %}
						 <!-- Year of publication -->
						 ({{ citer.citer_pub.year }})
					</p>
					<div id="topLeftInfo{{ citer.id }}" class="top-left-info">
						<div>
						Title: {{ citer.citer_pub.title }}
						<br>Authors: 
						{% for author in citer.citer_pub.author.all %}
							{% if author.first_name and author.middle_name %}
								{{ author.first_name }} {{ author.middle_name }} {{ author.last_name }},
							{% elif author.first_name %}
								{{ author.first_name }} {{ author.last_name }}, 
							{% elif author.middle_name %}
								{{ author.middle_name }} {{ author.last_name }}, 
							{% else %}
								{{ author.last_name }}, 
							{% endif %}
						{% endfor %}
						<br>
						Year: {{ citer.citer_pub.year }}
						<br>
						<!-- Below is the code to display the human readable name of the pub_type, rather than the code associated with it. -->
						Type: {{ citer.citer_pub.get_pub_type_display }}
						{% if publication.pub_type == 'A'%}
							<br>Journal: {{ citer.citer_pub.journal.journal_name }}
							<br>Volume: {{ citer.citer_pub.journal.volume }}
							<br>Issue: {{ citer.citer_pub.journal.issue }}
							<br><small>More</small>
						{% endif %}
					</div>
					</div>
				{% endfor %}
			</div>

			<!-- This is the box that opens on the top right to display the citation abstract when user clicks on image -->
			<div class="top-right-box-open">
				{% for citer in publication.cited_pubs.all %}
					<p id="topRightAuthor{{ citer.id }}" class="top-right-author open-header">
						<!-- Publication author and year - same procedure as in the main box regarding author count-->
						Abstract for {{ citer.citer_pub.author.first.last_name }}
						 <!-- Then, if there are 2 authors, cite both -->
						 {% if citer.citer_pub.author.all.count == 2 %}
						 	and {{ citer.citer_pub.author.last.last_name }}
						 <!-- Or, if there are more than two authors, add "et al." -->
						 {% elif citer.citer_pub.author.all.count > 2 %}
						 	et al.
						 {% endif %}
						 <!-- Year of publication -->
						 ({{ citer.citer_pub.year }})
					</p>
					<div id="topRightAbstract{{ citer.id }}" class="top-right-abstract">
						{{ citer.citer_pub.abstract }}
					</div>
				{% endfor %}
			</div>



			<!-- The cnter box, where the main info of the citation appears -->	
			<div class="center-box">
				 <span class="author"><a href="#">
				 		<!-- Cite first author's last name -->
						{{ publication.author.first.last_name }}</a>
						<!-- Then, if there are 2 authors, cite both -->
						{% if publication.author.all.count == 2 %}and <a href='#'>{{ publication.author.last.last_name }}</a>
						<!-- Or, if there are more than two authors, add "et al." -->
						{% elif publication.author.all.count > 2 %} et al.
						{% endif %}
				 </span>
				 <!-- Publication year -->
				 <span class="year"> ({{ publication.year }})
				 </span>
				 <!-- For Articles, put article title inside quotes and follow with journal name in italics -->
				 {% if  publication.pub_type == 'A' %}
				  <div class="publication-title"> 
				 "{{ publication.title }}" </div> <div class="journalname"><em><a href="#">{{ publication.journal }}</a></em></div>
				 <!-- For Books, put book title in italics -->
				 {% elif publication.pub_type == 'B' %}
				  <div class="publication-title"><em>{{ publication.title }}</em></div>
				  <!-- For other Publication types, don't do anything special -->
				 {% else %}
				  <div class="publication-title"> {{ publication.title }}</div>
				 {% endif %}
			</div>
			
			<!-- The left box when open, where all the details of the publciation appear -->
			<div class="left-box-open">
				<header class="open-header"> 
				Details for {{ publication.author.first.last_name }}
					{% if publication.author.all.count == 2 %}
						and {{ publication.author.last.last_name }}
					{% elif publication.author.all.count > 2 %} et al.
					{% endif %}
						({{ publication.year }})</header><br>
					<div>
						Title: {{ publication.title }}
						<br>Authors: 
						{% for author in publication.author.all %}
							{% if author.first_name and author.middle_name %}
								{{ author.first_name }} {{ author.middle_name }} {{ author.last_name }},
							{% elif author.first_name %}
								{{ author.first_name }} {{ author.last_name }}, 
							{% elif author.middle_name %}
								{{ author.middle_name }} {{ author.last_name }}, 
							{% else %}
								{{ author.last_name }}, 
							{% endif %}
						{% endfor %}
						<br>
						Year: {{ publication.year }}
						<br>
						<!-- Below is the code to display the human readable name of the pub_type, rather than the code associated with it. -->
						Type: {{ publication.get_pub_type_display }}
						{% if publication.pub_type == 'A'%}
							<br>Journal: {{ publication.journal.journal_name }}
							<br>Volume: {{ publication.journal.volume }}
							<br>Issue: {{ publication.journal.issue }}
							<br><small>More</small>
						{% endif %}
					</div>
			</div>

			<!-- The left part where the user clicks to get all the publication details -->
			<div class="left-box">
				{% load static %}
				<img class="center-info-image" src="{% static "../media/site_pics/logos/Info logo.png" %}" alt="Details" height='20' width='20'>
			</div>

			<!-- The right part where the user clicks to get the Abstract -->
			<div class="right-box">
				<img src="{% static "../media/site_pics/logos/Abstract logo.png" %}" alt="Abstract" height=20 width='20'>
			</div>

			<!-- The right box when open, where the Abstract appears -->
			<article class="right-box-open">
				<!-- Creating a flexbox container, which will display all the citations from this publication -->
				<header class="open-header">Abstract for
				{{ publication.author.first.last_name }}
					{% if publication.author.all.count == 2 %}
						and {{ publication.author.last.last_name }}
					{% elif publication.author.all.count > 2 %} et al.
					{% endif %}
						({{ publication.year }})</header><br>
				<div>
					{{ publication.abstract }}
				</div>
			</article>


			<!-- The bottom part where the user clicks to get the citations -->
			<div class="bottom-box">
				<div class="logo-top-bottom">{% load static %}
					<img src="{% static "../media/site_pics/logos/quotes2.png" %}" alt="Logo" height='20' width='20'>
				</div>
			</div>

			<!-- The top part where the user clicks to get all the citations -->
			<div class="bottom-box-open">
				<p class="open-header">
					<!-- Publication author and year - same procedure as in the main box regarding author count-->
					{{ publication.author.first.last_name }}
					{% if publication.author.all.count == 2 %}
						and {{ publication.author.last.last_name }}
					{% elif publication.author.all.count > 2 %} et al.
					{% endif %}
						({{ publication.year }}) cites:
				</p>
				<!-- Creating a flexbox container, which will display all the citations from this publication -->
				<p class='flex-container'>
					<!-- For each cited_pub cited by the citer_pub (i.e. our publication) -->
		 			{% for cited in publication.citer_pubs.all %}		
						<div class="bottom-nested-citations">
						<!-- Cite first author's last name -->
						 {{ cited.cited_pub.author.first.last_name }}
						 <!-- Then, if there are 2 authors, cite both -->
						 {% if cited.cited_pub.author.all.count == 2 %}
						 	and {{ cited.cited_pub.author.last.last_name }}
						 <!-- Or, if there are more than two authors, add "et al." -->
						 {% elif cited.cited_pub.author.all.count > 2 %}
						 	et al.
						 {% endif %}
						 <!-- Year of publication -->
						 ({{ cited.cited_pub.year }}); 
						</div>
						<div id="{{ cited.id }}" class="citation-description"><br>
							<img class="bottom-info-image" src="{% static "../media/site_pics/logos/Info logo.png" %}" alt="Details" height='15' width='15'>

							<img src="{% static "../media/site_pics/logos/Abstract logo.png" %}" alt="Abstract" height='15' width='15' class="bottom-abstract-image">
							<p>
								{{ cited.description }}
							</p>
						</div>
					{% endfor %}
				</p>
			</div>
				

			<!-- This is the box that opens on the bottom left to display the citation info when user clicks on image -->
			<div class="bottom-left-box-open">
				{% for cited in publication.citer_pubs.all %}
					<p id="bottomLeftAuthor{{ cited.id }}" class="bottom-left-author open-header">
						<!-- Publication author and year - same procedure as in the main box regarding author count-->
						Details for {{ cited.cited_pub.author.first.last_name }}
						 <!-- Then, if there are 2 authors, cite both -->
						 {% if cited.cited_pub.author.all.count == 2 %}
						 	and {{ cited.cited_pub.author.last.last_name }}
						 <!-- Or, if there are more than two authors, add "et al." -->
						 {% elif cited.cited_pub.author.all.count > 2 %}
						 	et al.
						 {% endif %}
						 <!-- Year of publication -->
						 ({{ cited.cited_pub.year }})
					</p>
					<div id="bottomLeftInfo{{ cited.id }}" class="bottom-left-info">
						<div>
						Title: {{ cited.cited_pub.title }}
						<br>Authors: 
						{% for author in cited.cited_pub.author.all %}
							{% if author.first_name and author.middle_name %}
								{{ author.first_name }} {{ author.middle_name }} {{ author.last_name }},
							{% elif author.first_name %}
								{{ author.first_name }} {{ author.last_name }}, 
							{% elif author.middle_name %}
								{{ author.middle_name }} {{ author.last_name }}, 
							{% else %}
								{{ author.last_name }}, 
							{% endif %}
						{% endfor %}
						<br>
						Year: {{ cited.cited_pub.year }}
						<br>
						<!-- Below is the code to display the human readable name of the pub_type, rather than the code associated with it. -->
						Type: {{ cited.cited_pub.get_pub_type_display }}
						{% if publication.pub_type == 'A'%}
							<br>Journal: {{ cited.cited_pub.journal.journal_name }}
							<br>Volume: {{ cited.cited_pub.journal.volume }}
							<br>Issue: {{ cited.cited_pub.journal.issue }}
							<br><small>More</small>
						{% endif %}
					</div>
					</div>
				{% endfor %}
			</div>


			<!-- This is the box that opens on the bottom right to display the citation abstract when user clicks on image -->
			<div class="bottom-right-box-open">
				{% for cited in publication.citer_pubs.all %}
					<p id="bottomRightAuthor{{ cited.id }}" class="bottom-right-author open-header">
						<!-- Publication author and year - same procedure as in the main box regarding author count-->
						Abstract for {{ cited.cited_pub.author.first.last_name }}
						 <!-- Then, if there are 2 authors, cite both -->
						 {% if cited.cited_pub.author.all.count == 2 %}
						 	and {{ cited.cited_pub.author.last.last_name }}
						 <!-- Or, if there are more than two authors, add "et al." -->
						 {% elif cited.cited_pub.author.all.count > 2 %}
						 	et al.
						 {% endif %}
						 <!-- Year of publication -->
						 ({{ cited.cited_pub.year }})
					</p>
					<div id="bottomRightAbstract{{ cited.id }}" class="bottom-right-abstract">
						{{ cited.cited_pub.abstract }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</article>
{% endfor %} 
{% endblock content %}