{% extends "mainapp/base.html" %}

{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<!--Within our form, we need to add a "CSRF token" (Cross-Site Request Forgery". This is a hidden tage, and it is something that you need to protect your forms. -->
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<!-- The "view.kwargs.title" bit prints the title listed in the url -->
				<legend class="border-bottom mb-4">Authors for <em>{{ view.kwargs.slug }} in {{ view.kwargs.pk }}</em></legend>
				<!--Below is where we use the built-in forms from Django, but it does not include a Submit button -->
				{{ form|crispy }} <!--Adding this crispy bit nicely formats everything for us
			-->
			
			</fieldset>
			<div class="form-group">
				<a class="btn btn-outline-secondary" href="{% url 'publication-detail-page' view.kwargs.slug view.kwargs.pk %}">Cancel</a>
				<a class="btn btn-outline-danger" href="{% url 'publications-page' %}">Delete</a>
				<button class="btn btn-outline-success" type="submit">Next</button>
			</div>	
		</form>
	</div>
	<script type="text/javascript">
		$(function(){
			/*Disable all options except the pre-populated one (i.e. the publication  that the user created previously*/
			$('#id_publication').children().not('[selected]').hide();
		});
	</script>
{% endblock content  %}
