{% extends "mainapp/base.html" %}

{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<!--Within our form, we need to add a "CSRF token" (Cross-Site Request Forgery". This is a hidden tage, and it is something that you need to protect your forms. -->
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Publication Authors</legend>
				<!--Below is where we use the built-in forms from Django, but it does not include a Submit button -->
				{{ form|crispy }} <!--Adding this crispy bit nicely formats everything for us
			-->
			
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-success" type="submit">Apply</button>
			</div>	
				PK is: {{ test.pk }}
		</form>
	</div>
	<script type="text/javascript">
		$(function(){
			/*Disable all options except the pre-populated one (i.e. the publication  that the user created previously*/
			$('#id_publication').children().not('[selected]').prop('disabled', true);
		});
	</script>
{% endblock content  %}
