/*Formula for responsive design
body {
  font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
  line-height: ibid;
}
EXAMPLE:
body {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}
*/


/*Practice flex and grid*/
/*Practice grid*/
/* Main box */
.center-box {
  grid-area: newcenter;
  padding: 0.5em;
}

.top-box {
  grid-area: newtop;
  background-color: #ffe6e6;
  border: 2px solid black;
}

.top-box-open {
  grid-area: newtopopen;
  background-color: #ffcccc;
  border: 2px solid black;
  display: none;
}

.top-right-box-open{
  grid-area: newtoprightopen;
  background-color: #ffb3b3;
  border: 2px solid black;
  display: none;  
}

.top-left-box-open{
  grid-area: newtopleftopen;
  background-color: #ffb3b3;
  border: 2px solid black;
  display: none;  
}
.bottom-box {
  grid-area: newbottom;
  background-color: #ffe6e6;
  border: 2px solid black;
}
.bottom-box-open {
  grid-area: newbottomopen;
  background-color: #ffcccc;
  border: 2px solid black;
  display: none;
}

.bottom-right-box-open{
  grid-area: newbottomrightopen;
  background-color: #ffb3b3;
  border: 2px solid black;
  display: none;  
}

.left-box {
  grid-area: newleft;
  background-color: #e6f2ff;
  padding-right: 1.2em; 
  padding-top: 100%;
  border: 2px solid black;
}

.bottom-left-box-open{
  grid-area: newbottomleftopen;
  background-color: #ffb3b3;
  border: 2px solid black;
  display: none;  

}

.left-box-open {
  grid-area: newleftopen;
  background-color: #cce5ff;
  border: 2px solid black;
  display: none;
}

.right-box {
  grid-area: newright;
  background-color: #e6f2ff;
  border: 2px solid black;
}

.right-box-open {
  grid-area: newrightopen;
  background-color: #cce5ff;
  border: 2px solid black;
  display: none;
}


.grid-container{
  display: inline-grid;
  grid-template-columns: minmax(min-content, auto) minmax(22px, 35px) minmax(min-content, 250px) minmax(22px, 35px) minmax(min-content, 300px);
  grid-template-rows: auto;
  grid-template-areas: "newtopleftopen newtopopen newtopopen newtopopen newtoprightopen"  
              ". newtop newtop newtop ."
              "newleftopen newleft newcenter newright newrightopen"
              ". newbottom newbottom newbottom ."
              "newbottomleftopen newbottomopen newbottomopen newbottomopen newbottomrightopen";
}




/* Open details element. */
details[open] {
  background-color: #ffcccc;
  line-height: normal;
}

a {
  color: black;
}

.journalname a, .author a{
  color: #333333;
}


.publication-title {
  font-size: 1.3em;
  margin-left: 5px;
  color: #00001a;


}

.journalname, .author{
  padding-left: 3em;
  font-style: italic;
  color: #333333;

}

.year {
  font-style: italic;
}

.flex-container { 
  display: flex;
  flex-flow: row wrap;
}

.bottom-nested-citations, .top-nested-citations {
  font-size: 0.8em;
  flex: 1;
  padding: 5px;
}

.bottom-nested-citations:hover, .top-nested-citations:hover {
  font-size: 0.8em;
  flex: 1;
  padding: 5px;
  cursor: pointer;
}


.flex-container-right { 
  display: flex;
  flex-flow: column wrap;
  padding-right: 10em;
  background-color: red;
}

.nested-citations-right {
  display: flex;
  font-size: 0.8em;
  flex: 1 1 200px;
  border: 10px solid green;
  padding-right: 100px;
  margin-left: 2em;
  background-color: blue;


}



.open-header {
  padding: 0.3em;
  border-top: 2px solid black;
  border-bottom: 2px dotted grey;
  color: #00001a;

}


.citation-description {
  font-size: 0.7em;
  padding-left: 7px;
  padding-right: 5px;
  display: none;
}




.bottom-right-author, .bottom-right-abstract, .bottom-left-author, .bottom-left-info, .top-right-author, .top-right-abstract, .top-left-author, .top-left-info{
  display: none;
}

.center-left-info, .bottom-left-info, .top-left-info, .center-right-abstract, .bottom-right-abstract, .top-right-abstract{
  margin: 0.5em;
}


.bottom-info-image, .top-info-image{
  float: left;
  padding-right: 3px;
  filter: invert(100%);
}

.bottom-abstract-image, .top-abstract-image{
  float: right;
  padding-left: 1px;
}

.bottom-info-image:hover, .bottom-abstract-image:hover, .top-info-image:hover, .top-abstract-image:hover{
  cursor: pointer;
}

.image-active.bottom-abstract-image, .image-active.top-abstract-image {
  height: 20px;
  width: 20px;
  filter: invert(100%);
}

.image-active.bottom-info-image, .image-active.top-info-image{
  height: 20px;
  width: 20px;
  filter: invert(0%);
}

.center-info-image{
  filter: invert(100%);
}

.center-left-info .left-categories, .center-right-abstract .abstract-category{
  color: white;
  background-color: #3396ff;
  font-family: 'Courier New, monospace';
  font-size: 0.7em;
  padding: 0.1em;
  border: 1px solid #00001a;
  margin: 5px 2px 5px 0;
}

.top-left-info .left-categories, .bottom-left-info .left-categories, .top-right-abstract .abstract-category, .bottom-right-abstract .abstract-category{
  color: white;
  background-color: #ff3333;
  font-family: 'Courier New, monospace';
  font-size: 0.7em;
  padding: 0.1em;
  border: 1px solid #00001a;
  margin: 5px 2px 5px 0;
}

.left-entries, .abstract-entry{
  font-size: 0.9em;
  color: #333333;
  font-style: italic;
}









/*The below is Corey Schafer's Youtube account */

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}